body {
  background-color: #EEE;
}

p {
  border: 0;
  margin: 5px 0px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main-terminal {
  border: 1px solid black;
  font-family:monospace;
  font-size: 14px;
  height: 350px;
  margin: 20px auto;
  overflow-y: auto;
  text-align: left;
  width: 750px;
}

.main-input {
  width: 750px;
  margin:auto;
}

.cpu-response-printed {
  border: 0;
  margin: 0;
  padding: 0px 3px;
}

.user-text-printed {
  background: #222;
  color: #DDD;
  font-size: 10pt;
  font-weight: 700;
  margin: 0;
  padding: 1px 3px;
}
